<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89713700301-emfk3e43mrf65g9vu6ijjf6g7ve2ktfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89713700301-emfk3e43mrf65g9vu6ijjf6g7ve2ktfm</string>
	<key>API_KEY</key>
	<string>AIzaSyBYzUdY89wblWMwsXGJ-UYUIK1bAC9iQ9M</string>
	<key>GCM_SENDER_ID</key>
	<string>89713700301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.colbyhaskell.BetterBrews</string>
	<key>PROJECT_ID</key>
	<string>betterbrews-366cc</string>
	<key>STORAGE_BUCKET</key>
	<string>betterbrews-366cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89713700301:ios:58b222694ab21c9679a884</string>
</dict>
</plist>